<div class="content__title">
  <h1>
    商家信息
    <!-- <small class="text-sm hidden-xs">Welcome !</small> -->
  </h1>
</div>


<div nz-row [nzGutter]="24" class="py-lg">
  <div nz-col [nzSpan]="6">
    <nz-card nzTitle="基本信息" nzNoPadding>
      <a (click)="activeTab = 1" class="d-block py-sm px-md" [ngClass]="{'bg-primary-light text-white': activeTab === 1}">
        常规
      </a>
      <a (click)="activeTab = 2" class="d-block py-sm px-md" [ngClass]="{'bg-primary-light text-white': activeTab === 2}">
        账户安全
      </a>
      <a (click)="activeTab = 3" class="d-block py-sm px-md" [ngClass]="{'bg-primary-light text-white': activeTab === 3}">
        转账
      </a>
    </nz-card>
    <nz-card nzTitle="更多信息" nzNoPadding>
      <!-- <a (click)="active=5" class="d-block py-sm px-md" [ngClass]="{'bg-primary-light text-white':active===5}">
        OAuth applications
      </a>
      <a (click)="active=6" class="d-block py-sm px-md" [ngClass]="{'bg-primary-light text-white':active===6}">
        Personal access tokens
      </a> -->
    </nz-card>
  </div>
  <div nz-col [nzSpan]="18">
    <nz-card nzTitle="常规" *ngIf="activeTab === 1">
      <div nz-row [nzGutter]="64">
        <div nz-col [nzSpan]="16">
          <form nz-form [formGroup]="merchantForm" (ngSubmit)="updateMerchantInfo(merchantForm.value)" [nzLayout]="'vertical'">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col>
                <label for="aliasName">商家名称</label>
              </div>
              <div nz-form-control nz-col [nzHasFeedback]="'true'" [nzValidateStatus]="aliasName">
                <nz-input formControlName="aliasName" [nzId]="'aliasName'"></nz-input>
                <div nz-form-explain *ngIf="getFormControlValidator('merchantForm', 'aliasName', 'required')">商家名称必填</div>
              </div>
            </div>

            <div nz-form-item nz-row>
              <div nz-form-label nz-col>
                <label for="advertising">商家广告语</label>
              </div>
              <div nz-form-control nz-col [nzHasFeedback]="'true'" [nzValidateStatus]="advertising">
                <nz-input formControlName="advertising" [nzId]="'advertising'"></nz-input>
              </div>
            </div>

            <div nz-form-item nz-row>
              <div nz-form-label nz-col>
                <label>营业时间</label>
              </div>
              <div nz-form-control>
                <div nz-col [nzSpan]="4">
                  <div nz-form-item nz-row>
                    <div>
                      <div nz-form-control>
                        <nz-timepicker formControlName="startTime" [nzSize]="'large'" [nzFormat]="'HH:mm'" [nzPlaceHolder]="'开始时间'">
                        </nz-timepicker>
                      </div>
                    </div>
                  </div>
                </div>
                <div nz-col [nzSpan]="4">
                  <p nz-form-split>-</p>
                </div>
                <div nz-col [nzSpan]="4">
                  <div nz-form-item nz-row>
                    <div>
                      <div nz-form-control>
                        <nz-timepicker formControlName="endTime" [nzSize]="'large'" [nzFormat]="'HH:mm'" [nzPlaceHolder]="'结束时间'">
                        </nz-timepicker>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div nz-form-item nz-row>
              <div nz-form-label nz-col>
                <label>配送时间</label>
              </div>
              <div nz-form-control>
                <div nz-col [nzSpan]="4">
                  <div nz-form-item nz-row>
                    <div>
                      <div nz-form-control>
                        <nz-timepicker formControlName="deliveryStartTime" [nzSize]="'large'" [nzFormat]="'HH:mm'" [nzPlaceHolder]="'开始时间'">
                        </nz-timepicker>
                      </div>
                    </div>
                  </div>
                </div>
                <div nz-col [nzSpan]="4">
                  <p nz-form-split>-</p>
                </div>
                <div nz-col [nzSpan]="4">
                  <div nz-form-item nz-row>
                    <div>
                      <div nz-form-control>
                        <nz-timepicker formControlName="deliveryEndTime" [nzSize]="'large'" [nzFormat]="'HH:mm'" [nzPlaceHolder]="'结束时间'">
                        </nz-timepicker>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div nz-form-item nz-row>
              <div nz-form-label nz-col>
                <label for="address">地址( 请点击地图具体位置来选择地址 )</label>
              </div>
              <div nz-form-control nz-col>
                <nz-input formControlName="address" [nzId]="'address'"></nz-input>
                <!-- <div nz-form-explain>请点击地图具体位置来选择地址</div> -->
              </div>
            </div>

            <div class="nz-form-item">
              <aqm-map #map [options]="mapOptions" (ready)="onReady($event)" style="height:500px;"></aqm-map>
            </div>

            <div nz-form-item nz-row class="mt-lg">
              <div nz-col [nzSpan]="24">
                <button nz-button [nzLoading]="loading$ | async" [nzType]="'primary'" [nzSize]="'large'" class="ant-btn__block" type="submit">
                  <span>保存</span>
                </button>
              </div>
            </div>

          </form>
        </div>
        <div nz-col [nzSpan]="8">
          <h4>主页图</h4>
          <img *ngIf="getFormControl('merchantForm', 'indexPageImgUrl').value; else noImg;" [src]="getFormControl('merchantForm', 'indexPageImgUrl').value"
            style="width: 100%;">
          <ng-template #noImg>
            <p>还没有上传主页图</p>
          </ng-template>
          <button nz-button class="ant-btn__block file-upload mt-sm">
            <input id="file1" accept type="file" ng2FileSelect [uploader]="uploader" />
            <i class="anticon anticon-upload"></i>
          </button>
        </div>
      </div>
    </nz-card>
    <nz-card nzTitle="账户安全" *ngIf="activeTab === 2">
      <div nz-row [nzGutter]="64">
        <div nz-col [nzSpan]="16">
          <form nz-form [nzLayout]="'vertical'" (submit)="changePassword(passwordForm.value)" [formGroup]="passwordForm">
            <div nz-form-item nz-row>
              <div nz-form-label nz-col>
                <label for="oldPassword" nz-form-item-required>旧密码</label>
              </div>
              <div nz-form-control nz-col [nzValidateStatus]="getFormControl('passwordForm', 'oldPassword')">
                <nz-input formControlName="oldPassword" [nzId]="'oldPassword'" [nzType]="'password'" required>
                </nz-input>
                <div nz-form-explain *ngIf="getFormControlValidator('passwordForm', 'oldPassword', 'required')">旧密码必填</div>
              </div>
            </div>
            <div nz-form-item nz-row>
              <div nz-form-label nz-col>
                <label for="newPassword" nz-form-item-required>新密码</label>
              </div>
              <div nz-form-control nz-col [nzValidateStatus]="getFormControl('passwordForm', 'newPassword')">
                <nz-input formControlName="newPassword" [nzId]="'newPassword'" [nzType]="'password'" required>
                </nz-input>
                <div nz-form-explain *ngIf="getFormControlValidator('passwordForm', 'newPassword', 'required')">新密码必填</div>
              </div>
            </div>
            <div nz-form-item nz-row>
              <div nz-form-label nz-col>
                <label for="confirmPassword" nz-form-item-required>
                  确认新密码
                </label>
              </div>
              <div nz-form-control nz-col [nzValidateStatus]="getFormControl('passwordForm', 'confirmPassword')">
                <nz-input formControlName="confirmPassword" [nzId]="'confirmPassword'" [nzType]="'password'" required>
                </nz-input>
                <div nz-form-explain *ngIf="getFormControlValidator('passwordForm', 'confirmPassword', 'required')">确认密码必填</div>
                <div nz-form-explain *ngIf="getFormControlValidator('passwordForm', 'confirmPassword', 'confirm')">确认密码不一致</div>
              </div>
            </div>
            <div nz-row>
              <button nz-button [nzLoading]="loading$ | async" [nzType]="'primary'" [nzSize]="'large'" class="ant-btn__block" type="submit"
                [disabled]="passwordForm.invalid">
                更改密码
              </button>
            </div>
          </form>
        </div>
      </div>
    </nz-card>
    <nz-card nzTitle="转账" *ngIf="activeTab === 3">
      <div class="list-group">
        <div nz-row class="list-group-item py-md" [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'">
          <div nz-col [nzSpan]="12">
            微信账号
            <button nz-button [nzType]="'primary'" class="ml-lg" (click)="toBindWechat()">
              {{ bindWechatText$ | async }}
            </button>
          </div>
          <div nz-col [nzSpan]="12" class="text-right">
            <i *ngIf="hasBindWechat$ | async; else noBindWechant" class="anticon anticon-check-circle text-lg text-success"></i>
            <ng-template #noBindWechant>
              <i class="anticon anticon-close-circle text-lg text-error"></i>
            </ng-template>
          </div>
        </div>
      </div>
    </nz-card>

  </div>
</div>
