<div class="wrapper">
  <div class="abs-center mt-lg width-lg">
    <nz-card [nzNoHovering]="true" [nzBordered]="false" class="ant-card__primary ant-card__title-img">
      <ng-template #title>
        <div class="text-center">
          <img src="./assets/img/logo.svg" style="height:20px;">
        </div>
      </ng-template>
      <ng-template #body>
        <div class="login-failure-msg text-center text-error">{{loginFailureMsg$ | async}}</div>
        <form nz-form [formGroup]="valForm" (ngSubmit)="submit()" role="form">
          <div nz-form-item>
            <div nz-form-control [nzValidateStatus]="valForm.controls.name">
              <nz-input formControlName="name" [nzPlaceHolder]="'用户名'" [nzSize]="'large'">
                <ng-template #suffix>
                  <i class="anticon anticon-mail"></i>
                </ng-template>
              </nz-input>
              <div nz-form-explain *ngIf="getFormControlValidator('name', 'required')">用户名必填</div>
            </div>
          </div>
          <div nz-form-item>
            <div nz-form-control [nzValidateStatus]="valForm.controls.password">
              <nz-input formControlName="password" [nzPlaceHolder]="'密码'" [nzType]="'password'" [nzSize]="'large'">
                <ng-template #suffix>
                  <i class="anticon anticon-lock"></i>
                </ng-template>
              </nz-input>
              <div nz-form-explain *ngIf="getFormControlValidator('password', 'required')">密码必填</div>
            </div>
          </div>

          <div nz-form-item>
            <div nz-form-control [nzValidateStatus]="getFormControl('captcha')">
              <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="12">
                  <nz-input [nzSize]="'large'" [nzPlaceHolder]="'验证码'" formControlName="captcha" [nzId]="'captcha'"></nz-input>
                </div>
                <div nz-col [nzSpan]="12">
                  <img (click)="refreshCaptcha()" [src]="captcha$ | async" alt="验证码" style="max-width: 100%; max-height: 100%;">
                  <!-- <button nz-button [nzSize]="'large'" (click)="getCaptcha($event)">Get captcha</button> -->
                </div>
              </div>
              <!-- <div nz-form-extra>We must make sure that your are a human.</div> -->
              <div nz-form-explain *ngIf="getFormControlValidator('captcha', 'required')">请输入验证码</div>
            </div>
          </div>


          <div nz-form-item nz-row>
            <div nz-col [nzSpan]="12">
              <label nz-checkbox formControlName="rememberMe">
                <span>记住密码</span>
              </label>
            </div>
            <div nz-col [nzSpan]="12" class="text-right">
              <a [routerLink]="['/forget']">忘记密码？</a>
            </div>
          </div>
          <div nz-form-item nz-row>
            <div nz-col [nzSpan]="24">
              <button nz-button [disabled]="!valForm.valid" [nzLoading]="loading$ | async" [nzType]="'primary'" [nzSize]="'large'" class="ant-btn__block">
                <span>登录</span>
              </button>
            </div>
          </div>
        </form>
        <div nz-form-item nz-row>
          <div nz-col [nzSpan]="24" class="text-center">或</div>
        </div>
        <div nz-row>
          <div nz-col [nzSpan]="24">
            <button nz-button [routerLink]="['/register']" [nzType]="'default'" [nzSize]="'large'" class="ant-btn__block">
              <span>立即注册</span>
            </button>
          </div>
        </div>
      </ng-template>
    </nz-card>
    <div class="p-lg text-center text-sm">
      &copy; {{ settings.app.year }} - {{ settings.app.name }}
      <br> {{ settings.app.description }}
    </div>
  </div>
</div>
