<div class="content__title">
  <h1>商品折扣活动</h1>
</div>

<nz-card>
  <ng-template #title>待添加折扣商品活动</ng-template>
  <ng-template #body>
    <div class="mb-sm text-right">
      <button nz-button [nzType]="'primary'" class="mr-sm" (click)="toSelectGoods()">
        <span>请选择商品</span>
      </button>
    </div>

    <app-wrap-table 
    [pageIndexAndSizeChange]="toAddPageIndexAndSizeChange$" 
    [actionExecute]="toAddActionExecute$" 
    [showCheckbox]="false"
      [dataSource]="toAddActivitiesToShow$" 
      [loading]="toAddActivityLoading$" 
      [total]="toAddActivityTotalCount$" 
      [columns]="toAddColumns"
      [actions]="toAddActions">
    </app-wrap-table>
  </ng-template>
</nz-card>

<nz-card>
  <ng-template #title>已有折扣商品活动</ng-template>
  <ng-template #body>
    <app-wrap-table 
    [pageIndexAndSizeChange]="pageIndexAndSizeChange$" 
    [actionExecute]="actionExecute$" 
    [showCheckbox]="false"
      [dataSource]="currentActivities$" 
      [loading]="fetchActivityLoading$" 
      [total]="activityTotalCount$" 
      [columns]="columns"
      [actions]="actions">
    </app-wrap-table>
  </ng-template>
</nz-card>