<div class="content__title">
  <h1>
    精准分析/营销
  </h1>
</div>
<nz-card>
  <ng-template #body>
    <form nz-form [formGroup]="searchForm" (ngSubmit)="search()">
      <div nz-row nz-form-item [nzGutter]="16">
        <div nz-form-label nz-col [nzSm]="2">
          <label for="name">时间间隔</label>
        </div>
        <div nz-form-control nz-col [nzSm]="5">
          <nz-select formControlName="duration" [nzSize]="'large'">
            <nz-option *ngFor="let duration of durations" [nzLabel]="duration.label" [nzValue]="duration.value"></nz-option>

          </nz-select>
        </div>

        <div nz-form-label nz-col [nzSm]="2">
          <label>用户行为</label>
        </div>
        <div nz-form-control nz-col [nzSm]="5">
          <nz-select formControlName="action" [nzSize]="'large'">
            <nz-option *ngFor="let action of actions" [nzLabel]="action.label" [nzValue]="action.value"></nz-option>
          </nz-select>
        </div>

        <div nz-col [nzSm]="5" [nzOffset]="2">
          <button nz-button [nzType]="'primary'" type="submit" [nzLoading]="fetchPreciseAnalysisLoading | async">{{ 'search' | translate }}</button>
          <!-- <button nz-button (click)="clear()" type="button" [disabled]="loading">{{ 'clear' | translate }}</button> -->
        </div>
      </div>
    </form>
  </ng-template>
</nz-card>
<div nz-row [nzGutter]="16">
  <div nz-col [nzMd]="24">
    <nz-card>
      <ng-template #title>
        客户统计
      </ng-template>
      <ng-template #body>
        <div class="mb-sm">
          <button nz-button [nzType]="'primary'" 
          [nzLoading]="batchSendSMSLoading$ | async" 
          [disabled]="(selectedIdsChange$ | async)?.length <= 0"
            (click)="toBatchSendSMS()">群发短信</button>
          <!-- <span class="ml-sm" *ngIf="(selectedIdsChange$ | async)?.length > 0">选中 {{(selectedIdsChange$ | async)?.length}} 个客户</span> -->
        </div>

        <app-wrap-table 
        [pageIndexAndSizeChange]="pageIndexAndSizeChange$" 
        [selectedIdsChange]="selectedIdsChange$" 
        [actionExecute]="actionExecute$"
          [dataSource]="currentPreciseAnalysis" 
          [loading]="fetchPreciseAnalysisLoading" 
          [total]="preciseAnalysisTotalCount" 
          [columns]="columns" 
          [actions]="executeActions">
        </app-wrap-table>

      </ng-template>
    </nz-card>
  </div>
</div>