<nz-table #nzTable [nzAjaxData]="dataSource | async" [nzShowSizeChanger]="true" [nzLoading]="loading | async" [nzTotal]="total | async"
  [(nzPageIndex)]="pageIndex" (nzPageIndexChange)="pageIndexChange()" [(nzPageSize)]="pageSize" (nzPageSizeChange)="pageSizeChange()">
  <thead nz-thead>
    <tr>
      <th *ngIf="_showCheckbox" nz-th [nzCheckbox]="true">
        <label nz-checkbox [ngModel]="isAllSelected$ | async" [nzIndeterminate]="indeterminate$ | async" (ngModelChange)="allChange($event)">
        </label>
      </th>
      <th nz-th *ngFor="let column of _columns">
        <span>{{column.label}}</span>
      </th>

      <th *ngIf="_actions.length > 0" nz-th>
        <span>操作</span>
      </th>
    </tr>
  </thead>
  <tbody nz-tbody>

    <tr nz-tbody-tr *ngFor="let data of nzTable.data; index as dataIndex">
      <td *ngIf="_showCheckbox" nz-td [nzCheckbox]="true">
        <label nz-checkbox [ngModel]="data._selected" (ngModelChange)="singleChange([data.id, $event])">
        </label>
      </td>
      <td nz-td *ngFor="let column of _columns">
        <img *ngIf="column.type === 'IMAGE' as value; else elseBlock" [src]="data[column.key]" alt="">
        <ng-template #elseBlock>
            <span>{{ column.transform ? column.transform(data[column.key]) : data[column.key] }}</span>
        </ng-template>
        
      </td>

      <td nz-td>
        <span *ngFor="let action of _actions; last as isLast;">
          <a (click)="toExecute(action, data, dataIndex)" 
          [ngClass]="{'text-grey-dark not-allowed': disabledAction(action, data)}">
            {{action.label}}
            <span *ngIf="!isLast" nz-table-divider></span>
          </a>
        </span>
      </td>
    </tr>
  </tbody>
</nz-table>